*,
*:after,
*:before {
    box-sizing: border-box;
}

#body {
    font-family: "Inter", sans-serif;
    color: #000021;
    font-size: calc(1em + 1vw);
    background-color: #e6e6ef;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#error {
    padding-top: 1em;
    color: rgba(167, 13, 13, 0.65);
}

form {
    position: relative;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 80%;
}

label {
    display: flex;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

label input {
    position: absolute;
    left: -9999px;
}

label input:checked+span {
    background-color: #d6d6e5;
}

label input:checked+span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
}

label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}

label span:hover {
    background-color: #d6d6e5;
}

label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#usernamediv {
    padding-top: 0.5em;
    display: flex;
    padding-bottom: 2em;
}

#labelusername {
    width: fit-content;
    padding-right: 1em;
}

#username {
    display: inline-block;
    width: 20em;
    height: 3em;
    padding-top: 0.1em;
    border-radius: 0.2em;
    border-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#question {
    margin-bottom: 1em;
    float: left;
    text-align: left;
}

#submit,
#results {
    margin-top: 1em;
    margin-left: 4em;
    width: 15em;
    font-size: 150%;
    background-image: linear-gradient(-180deg, #7b9eac 0%, #7e8d97 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    padding: 1rem 1.75rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 80%;
}

#submit {
    margin-top: 2em;
}

#submit:hover,
#results:hover {
    background-image: linear-gradient(-180deg, #8ea4ad 0%, #3c4c53 100%);
}

#results {
    position: absolute;
    bottom: 10%;
    right: 10%;
}